*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
header{
  background-color: #cdec12;
  padding:10px;
}
footer {
  background-color: #cdec12;
  padding: 10px;
}
main{
  display:flex;
  flex-direction: column;
  margin:10px auto;
  max-width: 600px;
}